* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.titulo_cadastro {
  padding-top: 3rem;
  font-size: 3rem;
}
